@use "./reset";

// Layout
@use "./layout/main-body";
@use "./layout/header";
@use "./layout/footer";

// Common
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");

:root {
  --font-heading: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}